body{
    background-color: greenyellow;
    text-align: center;
}
#ball{
    background-color: #fff;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    
    text-align: center;
    position: absolute;
    bottom: 0px
}
button{
    border: 2px solid lightblue;
    height: 36px;
    width: 74px;
    background: #fff;

}
